.goal-list-item {
    box-sizing: border-box;
    background: var(--surface-1);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr auto;
    align-items: center;
    justify-items: start;
    gap: 0.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 10px;
}