.goal-list-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--surface-1);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: 100%;

}

section {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 10px;
}