.nav-item {
    background-color: var(--surface-1);
    width: 40px;
    height: 40px;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
}

.pagination {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.is-active {
    background-color: var(--secondary-active);
}