.btn-cta {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--brand);
    cursor: pointer;
    font-size: 1rem;
}

.btn-cta:hover {
    background-color: var(--brand-hover);
    border-color: transparent;
    transition: all 0.2s ease-in-out;
}